body {
    padding-top: 50px;
}

.navbar {
    margin-bottom: 0;
}

.menu-section {
    height: 1000px;
    background-color: #f8f8f8;
    padding: 20px;
}

@media (max-width: 767px) {
    .navbar-collapse {
        background-color: #f8f8f8;
    }
}

